In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [23]:

import warnings
warnings.filterwarnings('ignore')

In [66]:
df = pd.read_csv('data/Hoja.csv')

In [67]:
df.head(100)

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes
0,'Abd a-Rahman Suleiman Muhammad Abu Daghash,2023-09-24,32.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while standing ...
1,Usayed Farhan Muhammad 'Ali Abu 'Ali,2023-09-24,21.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while trying to...
2,'Abdallah 'Imad Sa'ed Abu Hassan,2023-09-22,16.0,Palestinian,Kfar Dan,Jenin,West Bank,2023-09-22,M,NaN,al-Yamun,Jenin,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while firing at them ...
3,Durgham Muhammad Yihya al-Akhras,2023-09-20,19.0,Palestinian,'Aqbat Jaber R.C.,Jericho,West Bank,2023-09-20,M,NaN,'Aqbat Jaber R.C.,Jericho,gunfire,live ammunition,Israeli security forces,Shot in the head by Israeli forces while throw...
4,Raafat 'Omar Ahmad Khamaisah,2023-09-19,15.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin,Jenin,gunfire,live ammunition,Israeli security forces,Wounded by soldiers’ gunfire after running awa...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Muhammad Walid Muhammad 'Abd al-'Aal,2023-05-12,33.0,Palestinian,Gaza City,Gaza,Gaza Strip,2023-05-12,M,Yes,a-Shati' Camp,Gaza,gunfire,missile,Israeli security forces,Killed together with another Islamic Jihad mil...
96,'Ali Hassan Muhammad Ghali,2023-05-11,49.0,Palestinian,Khan Yunis,Khan Yunis,Gaza Strip,2023-05-11,M,Yes,Khan Yunis,Khan Yunis,gunfire,missile,Israeli security forces,Senior Islamic Jihad military wing operative. ...
97,Ghazi Yusef Mustafa Shihab,2023-05-11,66.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-05-11,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Shot in the abdomen by Israeli forces during a...
98,Mahmoud Walid Mahmoud 'Abd al-Jawad,2023-05-11,25.0,Palestinian,Khan Yunis,Khan Yunis,Gaza Strip,2023-05-11,M,Yes,Rafah,Rafah,gunfire,missile,Israeli security forces,"Killed together with two of his uncles, one of..."
99,Inga Avramyan,2023-05-11,82.0,Israeli,Rehovot,Israel,Israel,2023-05-11,F,NaN,Rehovot,Israel,gunfire,rocket,Palestinian civilians,Killed when a rocket struck her building. Seve...

In [37]:
df.tail()

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes
11119,Binyamin Herling,2000-10-19,64.0,Israeli,Nablus,Nablus,West Bank,2000-10-19,M,Israelis,Kedumim,Tulkarm,gunfire,live ammunition,Palestinian civilians,Killed while hiking on Mt. Eival.
11120,Farid Musa 'Issa a-Nesasreh,2000-10-17,28.0,Palestinian,Beit Furik,Nablus,West Bank,2000-10-17,M,Unknown,Beit Furik,Nablus,gunfire,NaN,Israeli civilians,Killed by a settler from Itamar while harvesti...
11121,Hillel Lieberman,2000-10-07,36.0,Israeli,Nablus,Nablus,West Bank,2000-10-07,M,Israelis,Elon Moreh,Nablus,gunfire,live ammunition,Palestinian civilians,His body was found a day after he disappeared.
11122,Fahed Mustafa 'Odeh Baker,2000-10-07,21.0,Palestinian,Bidya,Salfit,West Bank,2000-10-07,M,No,Bidya,Salfit,gunfire,NaN,Israeli civilians,Killed by settlers who rioted in Biddya village.
11123,Wichlav Zalsevsky,2000-10-02,24.0,Israeli,Masha,Salfit,West Bank,2000-10-02,M,Israelis,Ashdod,Israel,gunfire,live ammunition,Palestinian civilians,NaN

In [68]:
df.shape

(11124, 16)

In [69]:

df.columns

Index(['name', 'date_of_event', 'age', 'citizenship', 'event_location',
       'event_location_district', 'event_location_region', 'date_of_death',
       'gender', 'took_part_in_the_hostilities', 'place_of_residence',
       'place_of_residence_district', 'type_of_injury', 'ammunition',
       'killed_by', 'notes'],
      dtype='object')

In [70]:
df = df.rename(columns={'name':'Nombre','date_of_event':'Fecha_Evento','age': 'Edad','citizenship':'Ciudadania','event_location':'Lugar','event_location_district':'Distrito',
                       'event_location_region':'Region','date_of_death':'Fecha_Muerte','gender':'Genero','took_part_in_the_hostilities':'Activista','place_of_residence':'Residencia',
                       'place_of_residence_district':'Distrito_Residencia','type_of_injury':'Tipo_Lesion','ammunition':'Municion',
                       'killed_by':'AsesinadoPor', 'notes':'Obervaciones'})

In [65]:
df.head()

,Nombre,Fecha_Evento,edad,Ciudadania,Lugar,Distrito,Region,Fecha_Muerte,Genero,Activista,Residencia,Distrito_Residencia,Tipo_Lesion,Municion,AsesinadoPor,Obervaciones
0,'Abd a-Rahman Suleiman Muhammad Abu Daghash,2023-09-24,32.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while standing ...
1,Usayed Farhan Muhammad 'Ali Abu 'Ali,2023-09-24,21.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while trying to...
2,'Abdallah 'Imad Sa'ed Abu Hassan,2023-09-22,16.0,Palestinian,Kfar Dan,Jenin,West Bank,2023-09-22,M,NaN,al-Yamun,Jenin,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while firing at them ...
3,Durgham Muhammad Yihya al-Akhras,2023-09-20,19.0,Palestinian,'Aqbat Jaber R.C.,Jericho,West Bank,2023-09-20,M,NaN,'Aqbat Jaber R.C.,Jericho,gunfire,live ammunition,Israeli security forces,Shot in the head by Israeli forces while throw...
4,Raafat 'Omar Ahmad Khamaisah,2023-09-19,15.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin,Jenin,gunfire,live ammunition,Israeli security forces,Wounded by soldiers’ gunfire after running awa...

In [71]:

df.duplicated().sum()

7

In [72]:

df = df.drop_duplicates()

In [73]:
df.isnull().sum()

Nombre                    0
Fecha_Evento              0
Edad                    122
Ciudadania                0
Lugar                     0
Distrito                  0
Region                    0
Fecha_Muerte              0
Genero                   14
Activista              1430
Residencia               61
Distrito_Residencia      61
Tipo_Lesion             290
Municion               5246
AsesinadoPor              0
Obervaciones            277
dtype: int64

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11117 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nombre               11117 non-null  object
 1   Fecha_Evento         11117 non-null  object
 2   Edad                 10995 non-null  float64
 3   Ciudadania           11117 non-null  object
 4   Lugar                11117 non-null  object
 5   Distrito             11117 non-null  object
 6   Region               11117 non-null  object
 7   Fecha_Muerte         11117 non-null  object
 8   Genero               11103 non-null  object
 9   Activista            9687 non-null   object
 10  Residencia           11056 non-null  object
 11  Distrito_Residencia  11056 non-null  object
 12  Tipo_Lesion          10827 non-null  object
 13  Municion             5871 non-null   object
 14  AsesinadoPor         11117 non-null  object
 15  Obervaciones         10840 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [75]:
df.describe()

               Edad
count  10995.000000
mean      26.745703
std       13.780548
min        1.000000
25%       19.000000
50%       23.000000
75%       31.000000
max      112.000000

In [80]:
df['Edad'].fillna(df['Edad'].mean(), inplace=True)
df['Genero'].fillna('Unknown', inplace=True)
df['Activista'].fillna('Not Specified', inplace=True)
df['Residencia'].fillna('Unknown', inplace=True)
df['Distrito_Residencia'].fillna('Unknown', inplace=True)
df['Tipo_Lesion'].fillna('Unknown', inplace=True)
df['Municion'].fillna('Unknown', inplace=True)
df['Obervaciones'].fillna('Unknown', inplace=True)

In [46]:
df.isnull().sum()

name                            0
date_of_event                   0
age                             0
citizenship                     0
event_location                  0
event_location_district         0
event_location_region           0
date_of_death                   0
gender                          0
took_part_in_the_hostilities    0
place_of_residence              0
place_of_residence_district     0
type_of_injury                  0
ammunition                      0
killed_by                       0
notes                           0
dtype: int64

In [81]:

df['Fecha_Evento'] = pd.to_datetime(df['Fecha_Evento'])
df['Fecha_Muerte'] = pd.to_datetime(df['Fecha_Muerte'])

In [82]:
df.nunique()

Nombre                 11083
Fecha_Evento            2405
Edad                      96
Ciudadania                 4
Lugar                    494
Distrito                  20
Region                     3
Fecha_Muerte            2593
Genero                     3
Activista                  6
Residencia               581
Distrito_Residencia       21
Tipo_Lesion               14
Municion                  22
AsesinadoPor               3
Obervaciones            6745
dtype: int64